@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    body {
        @apply bg-gray-50 text-gray-900 dark:bg-gray-900 dark:text-gray-100;
    }
}

@layer components {
    .input {
        @apply w-full rounded-full border px-4 py-2 text-sm transition-all duration-300 bg-white placeholder:text-stone-400 focus:ring focus:ring-yellow-400 focus:outline-none md:px-6 md:py-3;
    }

    .spin {
        display: inline-block;
        animation: spin-animation 2s linear infinite;
    }

    /* https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */
    .loader {
        font-weight: bold;
        font-family: monospace;
        font-size: 30px;
        clip-path: inset(0 100% 0 0);
        animation: loading 2s steps(11) infinite;
    }

    @keyframes loading {
        to {
            clip-path: inset(0 -1ch 0 0);
        }

    }

    @keyframes spin-animation {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }
}